@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

html {
    font-family: "Pretendard", sans-serif;
    margin: 0;
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
}

nav {
    background-color: #fff;
    padding: 1rem;
    border-bottom: 1px solid #ddd;
}

.nav-ul {
    display: flex;
    justify-content: left;
    align-items: center;
    list-style-type: none;
    font-size: 1.3em;
    margin: 0;
    padding: 0;
}

.nav-ul li {
    cursor: pointer;
    margin-right: 2rem;
}

.nav-ul-title {
    font-weight: 900;
    color: #ff4b8a;
    font-size: 1.5rem;
    margin-right: 1rem;
}

.content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.click-container p {
    font-size: 1.5rem;
    text-align: center;
    margin-top: 12rem;
}

.click-container {
    width: 50rem;
    height: 30rem;
    color: #ffffff;
    background-color: #ff4b8a;
    border: 1px solid #ff4b8a;
    border-radius: 0.3rem;
    transition: transform 0.3s;
}
.click-container:hover {
    transform: scale(1.05);
}

footer{
    text-align: center;
    padding: 1rem;
    font-size: 0.7rem;
    margin-top: auto;
}
footer a {
    text-decoration: none;
    color: black;
}

::selection {
    opacity: 0;
}

.nav-link {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.nav-link:hover {
    color: #3498db; 
}
.setting-container {
    position: fixed;
    display: none;
    flex-direction: column;
    width: 80%;
    height: 80%;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border-radius: 1.5rem;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #ddd;
}

.setting-close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background-color: #ff4b8a;
    color: white;
    border: none;
    border-radius: 0.3rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.setting-close:hover {
    background-color: #e03e6f;
}

.setBtn {
    background-color: red;
    color: white;
    border: none;
    border-radius: 0.3rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: all 0.3s;
}
.setBtn:hover {
    transform: scale(1.05);
}