@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

html {
    font-family: "Pretendard", sans-serif;
    margin: 0;
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
}

nav {
    background-color: #fff;
    padding: 1rem;
    border-bottom: 1px solid #ddd;
}

.nav-ul {
    display: flex;
    justify-content: left;
    align-items: center;
    list-style-type: none;
    font-size: 1.3em;
    margin: 0;
    padding: 0;
}

.nav-ul li {
    cursor: pointer;
}

.nav-ul-title {
    font-weight: 900;
    color: #ff4b8a;
    font-size: 1.5rem;
    margin-right: 1rem;
}

.content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.click-container p {
    font-size: 1.5rem;
    text-align: center;
    margin-top: 12rem;
}

.click-container {
    width: 50rem;
    height: 30rem;
    color: #ffffff;
    background-color: #ff4b8a;
    border: 1px solid #ff4b8a;
    border-radius: 0.3rem;
    transition: all 0.3s; 
}
.click-container:hover {
    transform: scale(1.05);
}

footer{
    text-align: center;
    padding: 1rem;
    font-size: 0.7rem;
    margin-top: auto;
}
footer a {
    text-decoration: none;
    color: black;
}

::selection {
    opacity: 0;
}