@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

html {
    font-family: "Pretendard", sans-serif;
    margin: 0;
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
}

nav {
    background-color: #fff;
    padding: 1rem;
    border-bottom: 1px solid #ddd;
}

.nav-ul {
    display: flex;
    justify-content: left;
    align-items: center;
    list-style-type: none;
    font-size: 1.3em;
    margin: 0;
    padding: 0;
}

.nav-ul li {
    cursor: pointer;
    margin-right: 2rem;
}

.nav-ul-title {
    font-weight: 900;
    color: #ff4b8a;
    font-size: 1.5rem;
    margin-right: 1rem;
}

footer{
    text-align: center;
    padding: 1rem;
    font-size: 0.7rem;
    margin-top: auto;
}
footer a {
    text-decoration: none;
    color: black;
}

::selection {
    opacity: 0;
}

.nav-link {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.nav-link:hover {
    color: #3498db; 
}
